body,input,button{
	font-size: 44px;
}
#plus{
	width: 66px;
	height: 66px;
	background-image: url(img1.png);
}

#minus{
	width: 66px;
	height: 66px;
	background-image: url(img2.png);
}

#multi{
	width: 66px;
	height: 66px;
	background-image: url(img3.png);
}

#divide{
	width: 66px;
	height: 66px;
	background-image: url(img4.png);
}



#plus1{
	width: 66px;
	height: 66px;
	background-image: url(img5.png);
}

#minus1{
	width: 66px;
	height: 66px;
	background-image: url(img6.png);
}

#multi1{
	width: 66px;
	height: 66px;
	background-image: url(img7.png);
}

#divide1{
	width: 66px;
	height: 66px;
	background-image: url(img8.png);
}

.div1{
	margin-bottom: 20px;
	font-size: 18px;
}
